/* Prevent text selection of an <body> element in all major browsers */
body {
    -youbkit-touch-callout: none; /* iOS Safari */
    -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;        /* IE 10+ and Edge */
    user-select: none;            /* Non-prefixed version,
                                currently supported by Chrome and Opera */
}
.outer-shell {
	/*background-color: #aaa;
	height: 100vh;
	width: 100%;
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;*/
/*	top: 50px;*/
	background-color: #efeeee;
	position: relative;
	width: 100%;
	padding-top: 42.85%;  /*16:9 Aspect Ratio 56.25 */
/*	padding-top: 30%;  16:9 Aspect Ratio 56.25 */
/*	padding-top: 52.00%;*/
/*	border: 1px solid;*/
	left: 0px;
/*	height: 500px;*/
	transition-duration: 0s;	
}
.inner-shell{
	position:  absolute;
	top: -15px;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	padding:30px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.canvas-outer{
	/*background-color: #efeeee;*/
	background-color: #dfdfdf;
	box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.8), 13px 13px 15px rgba(180, 180, 180, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	height: 100%;
	padding-left: 72.24%;
/*	padding-left: 91.4%;*/
	margin: auto;
	position: relative;
}
.canvas-inner{
	position:  absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(8, 1fr);
}
.hour-outer{
	position: relative;
	border: 1px solid black;
	height: 90%;
	margin: 5px;
	flex: 3;
/*			display: inline-block;*/
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}
.separator-outer{
	position: relative;
	border: 1px solid black;
	height: 90%;
	margin: 5px;
	flex: 1;		
/*			display: inline-block;*/
	box-sizing: border-box;
	/*align-self: center;*/	
}		
.minute-outer{
	position: relative;
	border: 1px solid black;
	height: 90%;
	margin: 5px;		
	flex: 3;
/*			display: inline-block;*/
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}
.unit{
	height: 96%;
	width: 96%;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: #efeeee;
	box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.8), 4px 4px 5px rgba(209, 205, 199, 0.8), inset -1px -1px 5px rgba(255, 255, 255, 0.8),inset 2px 2px 5px rgba(209, 205, 199, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: relative;
	align-items: center;
}
.arm{
/*	width: 3px;
	height: calc(50% + 2.5px);
	position: absolute;
	left: 50%;
	border-radius: 2.5px;
	background-color: #000;
	transform-origin: 50% calc(100% - 1.5px);
	transition-duration: 2s;
	transition-timing-function: ease-in-out;*/
	width: 5px;
	height: calc(50% + 2.5px);
	position: absolute;
	left: 50%;
	border-radius: 2.5px;
	background-color: #000;
	transform-origin: 50% calc(100% - 2.5px);
	transition-duration: 10s;
	transition-timing-function: ease-in-out;
}
#one{
	transform: translate(-50%, 0) rotate(300deg);
}
#two{
	transform: translate(-50%, 0) rotate(180deg);
}
.right-panel{
	width: 300px;
	height: 100%;
	background-color: #999;
	z-index: 1;
	/*right: -300px;*/
	right: -300px;
	top: 0px;
	position: fixed;
	transition-duration: 0.5s;
}
#right-panel-button {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 24px;
	background-color: #999;
	border-radius: 25px;
	padding: 5px 15px;
	color: #efeeee;
	widows: 50px;
	z-index: 2;
	transition-duration: color 0.1s;
}
#right-panel-title {
	font-family: 'Montserrat',Helvetica, Arial;
	font-size: 64px;
	color: #efeeee;
	margin: auto;
	padding: 10px;
	left: 0px;
	text-align: left;
	line-height: 50px;
}
#right-panel-description {
	font-family: Helvetica, Arial;
	font-size: 24px;
	color: #efeeee;
	margin: auto;
	padding: 10px;
	left: 0px;
	text-align: justify;
	text-align-last: justify;
	line-height: 24px;
	text-indent: 0px;
	width: 90%;

}
#right-mid-panel{
	background-color: #777;
	height: 400px;
	width: 90%;
	margin: auto;
}
#right-panel-profile{	
	height: 50px;
	width: 200px;
	margin: auto;
	align-items: center;
}
#right-panel-profile a{
	text-decoration: none;
	color: #eeeeee;
}
.profile{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin: 0px 5px;
	border: 1px solid #efeeee;
	display: inline-block;
	background-color: #888;
	transition-duration: 0.3s;
	color: #efeeee;
}
.profile:hover {
	background-color: #efeeee;
	color: #777;
}
.profile i{
	line-height: inherit;
	vertical-align: middle;
	padding: 10px;
}
#right-panel-footer{
	width: 85%;
	height: 40px;
	margin: auto;
	position: absolute;
	bottom: 10px;
	left: 10px;
	border-radius: 10px;
	border: 2px solid #efeeee;
	font-family: Helvetica, Arial;
	padding: 10px;
	color: #efeeee;
	font-size: 12px;
}
#right-panel-footer a{
	text-decoration: none;
	color: #eeeeee;
}
#right-panel-footer a:hover{
	text-decoration: none;
	color: #fff;
}
#rotate{
	width: 80%;
	height: 500px;
	margin: 100px auto;
	background-color: #999;
	display: none;
	border-radius: 20px;
	padding: 50px;
	position: relative;
	transition: all 2s ease-in-out;
	color: #fff
}
#rotate h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 80px;
}
#rotate .content {
  font-size: 50px;
  overflow: auto;
  padding-bottom: 50px;
}
#rotate .confirm {
	margin: auto;
	width: 50%;
	height: 120px;
	margin-top: 10px;
	background-color: #555;
	border-radius: 5px;
	font-size: 80px;
	color: #fff;
	font-family: Tahoma, Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
	line-height: 120px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}

.popup {
  margin: auto;
  padding: 50px;
  background: #fff;
  border-radius: 20px;
  width: 70%;
  top: 25%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 80px;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 120px;
/*  font-weight: bold;*/
  text-decoration: none;
  color: #333;
}
.popup .content {
  font-size: 50px;
  overflow: auto;
  padding-bottom: 50px;
}
.popup .confirm {
	margin: auto;
	width: 50%;
	height: 120px;
	margin-top: 10px;
	background-color: #555;
	border-radius: 5px;
	font-size: 80px;
	color: #fff;
	font-family: Tahoma, Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
	line-height: 120px;

}